html {
    /* 1 rem = 10px, é multiplicado pelo todo */
    /* em = texto é multiplicado pelo pai */
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Ubuntu';
    background-color:rgb(34, 32, 32);
    min-height: 100vh;
    min-width: 100vw;
    font-size: 1.6rem;
    padding-top: 15rem;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@font-face {
    font-family: 'Pixelvolve';
    src: url(fonts/Pixel\ Digivolve.otf) format('opentype');
}

@font-face {
    font-family: 'Gabato';
    src: url(fonts/Gabato.ttf) format('truetype'); 
}

@font-face {
    font-family: 'ComputerLove';
    src: url(fonts/5Computers-In-Love.ttf) format('truetype'); 
}



header {
    background-color:rgb(34, 32, 32);
    border-bottom: #F6A21E solid 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem 3rem;
    margin: 0 auto;
    position:fixed;
    top: 0;
    left: 0;
}


.title-box {
    display: flex; 
    align-items: center;
    width: 40vw;
}

.title-box .hello-img{
    width: 100px;
    margin-right: 20px;
}


.title-box h1 {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    /* text-transform: uppercase; */
    color: #eee;
    text-shadow: 5px 5px 20px #000;
}


.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    max-width:100%;
} 

.menu-item {
    list-style: none;
    transition: 300ms;
    letter-spacing: 0.1rem;
    margin-right: 1.5rem;
}


.link-menu {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 1rem;
    transition: 400ms ease-in-out; 
}

.link-menu:hover{
    background-color: #eee;
    color:#F6A21E;
    
}

.curriculum-menu {
    display: flex;
    justify-content: center;
}

#curriculum-button {
    display: flex;
    font-family: 'Pixelvolve';
    background-color: #F6A21E;
    text-decoration: none;
    color: #eee;
    padding: 1.5rem;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 400ms ease-in-out;
    text-shadow: -5px 5px 5px black;
}

#curriculum-button:hover {
    background: linear-gradient(45deg, #199837, #68cc49);
    /* color:rgb(0, 0, 0); */
    transform: scale(1.07);
}




main {
    padding: 0.5rem 2rem;
    width: 95vw;
    margin: 0 auto;
}

#about-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

.gpmoura-img {
    width: 700px;
    border-radius: 50%;
}

 
 .info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    
}

.name-div h2 {
    font-size: 7rem;
    margin-bottom: 1.5rem;
    color: #eee;
    text-shadow: -5px 5px 15px #000;
    font-family: 'Ubuntu';
    font-weight: 800;
    text-align: center;
} 

.name-div h2 strong {
    color: #E55B13;
}

.name-div p {
    font-size: 3rem;
    margin-bottom: 0.8rem;
    color: #F6A21E;
    letter-spacing: 0.2rem;
    font-family: 'Pixelvolve';
    text-align: center;
 }

.description-div {
    padding: 2rem;
    border-radius: 20px;
    margin: 4rem 0rem;
}


.description-div p {
    font-size: 2.2rem;
    font-weight: bold;
    text-align:center;
    color: #eee;
}

.text strong, .description-div strong {
    color:#F6A21E;
}

.about-icon{
    text-align: center;
    height: 8rem;
}

/* PROPJETOS COMEÇAM AQUI */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 2rem;
    border-bottom: #F6A21E solid 0.5rem;
}


.card {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 13rem;
}

.card-name {
    width:48rem;
    height:25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    transition: 400ms ease-in-out;
    box-shadow: 7px 7px 0px #000;

}


#card-name1:nth-child(1){
    background-image: url(./imagens/ponggame.png);
    background-position: cover;
    background-repeat: no-repeat;
}

#card-name2:nth-child(1){
    background-image: url(./imagens/loginpage.png);
    background-position: cover;
    background-repeat: no-repeat;
}


#card-name3:nth-child(1){
    background-image: url(./imagens/cargame.png);
    background-position: cover;
    background-repeat: no-repeat;
}


#card-name4:nth-child(1){
    background-image: url(./imagens/datastructures.png);
    background-position: cover;
    background-repeat: no-repeat;
}


.card-name a {
    font-size:  5rem;
    text-shadow: 5px 5px 0px #000;
    margin-bottom: 0.8rem;
    color: #eee;
    font-family: 'Pixelvolve';
    transition: 400ms ease-in-out;
    text-decoration: none;
    opacity: 0;
}


/* .card:hover >.card-name {
    opacity: 1;
    
} */

.card-name p {
     font-size: 0;
     visibility: visible;
     opacity: 0;
     font-weight: bold;
     transition: 400ms ease-in-out;
     color:#FFF;
}


.card:hover > .card-name::before{
    height: 210px;
    width: 205px;
    opacity: 1;
}

.card:hover >.card-name a {
    opacity: 1;
    transform: translateY(18rem);
}

.card-text {
    display: flex;
    align-items: center;
    width: 40%;
    color: #eee;
    font-size: 2.4rem;
    font-weight: bold;
}

#card-name4 a{
    font-size: 4rem;
}



.section-title {
    display: flex;
    text-align: center;
    justify-content: center;
    color:#eee;
    font-size: 5rem;
    font-weight:bold;
    /* letter-spacing: 0.2rem; */
    font-family: 'Ubuntu';
    width: 20vw;
    margin: 0 auto;
    background-color: #f1a120;
    text-decoration: none;
    color: #eee;
    padding: 1.5rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    text-shadow: -5px 5px 40px black;
}

/* 
.history-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
} */

#history-section, #contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5rem 2rem;
    border-bottom: #F6A21E solid 0.5rem;
}

.text {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align:center;
    color: #eee;
}

.contact-list {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: 0 auto;
}

.contact-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.contact-item img {
    width: 115px;
    margin-bottom: 1.5rem;
}

.contact-img {
    margin-bottom: 12rem;
}

.contact-item a {
    text-decoration: none;
    font-size: 3rem; 
    padding: 2rem;
    background-color: #eee;
    box-shadow: 7px 7px 0px #000;
    color: #E55B13;
    font-weight: bolder;
    border-radius: 2rem;
    transition: 200ms ease-in-out;;
}

.contact-item a:hover {
    background: linear-gradient(45deg, #199837, #68cc49);
    color:#eee;
    font-weight: bold;
    transform: scale(1.07);
}

footer {
    background-color: #f1a120;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.footer-div p {
    color:#eee;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

/* RESPONSIVE */
@media screen and (max-width: 1500px) {
    /* MAXWIDTH = TELAS MENORES QUE ESSA RESOLUÇÃO */
    .name-div h2 {
        font-size: 6rem;
    }
    .gpmoura-img {
        width: 400px;
    }
    #about-section {
        margin-bottom: 5rem;
    }
    header {
        justify-content: center;
        
    }
    .title-box {
        display: none;
    }
    .menu {
        justify-content: center;
    }
}

@media screen and (max-width: 1250px) {
    /* MAXWIDTH = TELAS MENORES QUE ESSA RESOLUÇÃO */
    .name-div h2 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 1050px) {
    /* MAXWIDTH = TELAS MENORES QUE ESSA RESOLUÇÃO */
    .gpmoura-img {
        display: none;
    }
    body {
        font-family: 'DM Sans', sans-serif;
        font-family: 'Ubuntu';
        background-color: rgb(34, 32, 32);
        min-height: 100vh;
        min-width: 100vw;
        font-size: 1.6rem;
        padding-top: 15rem;
    }
    #about-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin: 0 auto 5rem auto;
    }

    .info-div {
        width: 95vw;
    }

    .name-div h2 {
        font-size: 5rem;
        text-align: center;
    }
    .about-icon {
        text-align: center;
        height: 6.5rem;
    }
    .section-title {
        width: 40vw;
    }
    .card-text {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    /* MAXWIDTH = TELAS MENORES QUE ESSA RESOLUÇÃO */
    .link-menu {
        display: flex;
        padding: 1.5rem;
        align-items: center;
        font-size: 2rem;
        color: white;
        text-decoration: none;
        font-weight: 600;
        border-radius: 1rem;
        transition: 400ms ease-in-out;
    }
    .menu-item {
        margin-right: 0.5rem;
    }
    #curriculum-button {
        display: flex;
        font-family: 'Ubuntu';
        background-color: #F6A21E;
        text-decoration: none;
        color: #eee;
        padding: 1rem;
        align-items: center;
        font-size: 2rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 0.5rem;
        transition: 400ms ease-in-out;
        text-shadow: unset;
    }        
    .contact-list {
        display: flex;
        justify-content: center;
        width: 50vw;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .contact-item {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        padding: 0rem;
        align-items: center;
        justify-content: space-around;
    }
    .contact-item img {
        width: 80px;
        margin-bottom: 1.5rem;
    }
    .contact-item a {
        text-decoration: none;
        font-size: 2.5rem;
        padding: 1rem;
        background-color: #eee;
        box-shadow: 7px 7px 0px #000;
        color: #E55B13;
        font-weight: bolder;
        border-radius: 2rem;
        transition: 200ms ease-in-out;
    }
}

@media screen and (max-width: 640px) {
    /* MAXWIDTH = TELAS MENORES QUE ESSA RESOLUÇÃO */
    
    .menu-item:nth-of-type(1) {
        display: none;
    }


    .contact-list {
        display: flex;
        justify-content: center;
        width: 50vw;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .contact-item {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        padding: 0rem;
        align-items: center;
        justify-content: space-around;
    }
    .contact-item img {
        width: 80px;
        margin-bottom: 1.5rem;
    }
    .contact-item a {
        text-decoration: none;
        font-size: 2.5rem;
        padding: 1rem;
        background-color: #eee;
        box-shadow: 7px 7px 0px #000;
        color: #E55B13;
        font-weight: bolder;
        border-radius: 2rem;
        transition: 200ms ease-in-out;
    }
    .link-menu {
        display: flex;
        padding: 1.5rem;
        align-items: center;
        font-size: 1.6rem;
        color: white;
        text-decoration: none;
        font-weight: 600;
        border-radius: 1rem;
        transition: 400ms ease-in-out;
    }
    .card-name {
        width: 35rem;
        height: 25rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 2rem;
        cursor: pointer;
        transition: 400ms ease-in-out;
        box-shadow: 7px 7px 0px #000;
    }
    .name-div h2 {
        font-size: 4.5rem;
      }

}

@media screen and (max-width: 500px) {
    /* MAXWIDTH = TELAS MENORES QUE ESSA RESOLUÇÃO */
    
    .section-title {
        width: 55vw;
    }

    .menu-item:nth-of-type(3) {
        display: none;
    }
    .name-div h2 {
        font-size: 3.6rem;
        text-align: center;
    }
    .about-icon {
        text-align: center;
        height: 5.5rem;
    }


}













